@charset "utf-8";

img {
    // クリック・タップ禁止
/*    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-touch-callout: none;
    -moz-user-select: none;
    touch-callout: none;
    user-select: none;*/
}
